[flake8]
exclude =
    # Data
    checkpoints/,
    data/,
    results/,

    # Git
    .git/,

    # Python
    .cache/,
    .pytest_cache/,
    __pycache__/,

    # Spack
    .spack-env
max-line-length = 88
application-import-names = datasets,metrics,models,plot,preprocessing,train,tune,utils
import-order-style = google
