cartopy==0.25.0
cmocean==4.0.3
geocube==0.7.1
geopandas==1.1.1
matplotlib==3.10.6
mypy==1.18.2
netcdf4==1.7.2
numpy==2.3.3
pandas==2.3.3
ruff==0.13.3
scikit-learn==1.7.2
scipy==1.16.2
shapely==2.1.2
xarray==2025.9.1
